/*
 * SLURM cluster configuration
 */

process {
    executor = 'slurm'
    queue = 'genomics'
    
    // SLURM directives
    clusterOptions = '--account=genomics --qos=normal'
    
    withLabel: 'bwa_mem2' {
        queue = 'compute'
        cpus = 32
        memory = '64.GB'
        time = '12.h'
        clusterOptions = '--account=genomics --qos=long --partition=compute'
    }
    
    withLabel: 'star' {
        queue = 'highmem'
        cpus = 16
        memory = '128.GB'
        time = '8.h'
        clusterOptions = '--account=genomics --qos=normal --partition=highmem'
    }
    
    withLabel: 'deepvariant' {
        queue = 'gpu'
        cpus = 8
        memory = '32.GB'
        time = '24.h'
        clusterOptions = '--account=genomics --qos=gpu --partition=gpu --gres=gpu:1'
    }
}

params {
    max_cpus = 128
    max_memory = '1.TB'
    max_time = '72.h'
}