/*
 * Test configuration with small resources
 */

params {
    // Test data
    dna_samples = 'data/test/dna_samples.csv'
    rna_samples = 'data/test/rna_samples.csv'
    reference = 'data/reference'
    outdir = 'results/test'
    
    // Reduced resources for testing
    threads = 2
    memory = '4.GB'
    max_cpus = 4
    max_memory = '8.GB'
    max_time = '1.h'
}

process {
    // Override for test
    cpus = 2
    memory = '4.GB'
    time = '30.m'
    
    withLabel: 'bwa_mem2' {
        cpus = 2
        memory = '4.GB'
    }
    
    withLabel: 'star' {
        cpus = 2
        memory = '8.GB'
    }
    
    withLabel: 'deepvariant' {
        cpus = 2
        memory = '4.GB'
        time = '1.h'
    }
}